@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    width: 100%;
    height: 100vh;
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url("../assets/fonts/PretendardVariable.woff2") format("woff2-variations");
  }

  @font-face {
    font-family: "Tenada";
    font-display: swap;
    src: url("../assets/fonts/Tenada.ttf");
  }

  .cell {
    background: #ffffff;
    font-size: 40px;
  }

  .cell:nth-child(3n):not(:nth-child(9n)) {
    margin-right: 4px;
  }

  .cell:nth-child(27n + 28),
  .cell:nth-child(27n + 29),
  .cell:nth-child(27n + 30),
  .cell:nth-child(27n + 31),
  .cell:nth-child(27n + 32),
  .cell:nth-child(27n + 33),
  .cell:nth-child(27n + 34),
  .cell:nth-child(27n + 35),
  .cell:nth-child(27n + 36) {
    margin-top: 4px;
  }
}
